@import "../../styles/variables";
@import "../../styles/mixins";

.About {
  display: flex;
  width: 100%;
  height: 70vh;
  flex-direction: row;
  justify-content: center;
}

.whiteBox {
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.12) !important;
  background-color: #fff;
  padding: 3.6rem 0 3.6rem;
  height: auto;
  border-radius: 0.5rem;
  margin: auto;
  text-align: center;
  width: 60%;
  @include respond-to-max(large) {
    width: 100%;
  }
}

.withPadding {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  h2 {
    margin-bottom: 4rem;
  }
  h3 {
    text-align: left;
    margin-bottom: 2rem;
  }
  @include respond-to(large) {
    padding-left: 6.2rem;
    padding-right: 5rem;
  }
  input {
    height: 5rem;
    border: 1px solid black;
  }
  label {
    vertical-align: middle;
  }
}

.check {
  color: rgb(82, 196, 26);
}

.inactive {
  color: rgb(196, 3, 3);
}

.tag {
  background-color: #fff;
}

.meetingPreferenceTitle {
  float: left;
  margin-right: 10px;
}

.meetingPreferenceList {
  float: left;
}
