@import "../../styles/variables";
@import "../../styles/mixins";

.bottomNav {
  display: none;
  @include respond-to-max(medium) {
    display: inline;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1;
    border-top: 1px solid rgb(230, 230, 230);
  }
}
.bnTab {
  width: 49.9%;
  height: 100%;
  font-size: 1.5rem;
  text-align: center;
}
.bnTabLayout {
  width: 19.9%;
  height: 100%;
  display: flex;
  text-align: center;
}
